
 <!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-hamburger"></i>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"  href="#">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Oferta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="px-2 search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
 -->
  <!-- /* seccion Imagen */ 
  <section class="main">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 pt-5 text-cemter">
                <h1 class="pt-5">Bienvenido a la tienda virtual</h1>
                <button class="btn1 mt-3">Mas</button>
            </div>
        </div>
    </div>
</section>
  -->
  


<!-- /* seccion Marcas */ 
<section class="new">
   <div class="container py-5">
     <div class="row">
       <div class="col-lg-7 m-auto">
           <div class="row text-center">
             <div class="col-lg-4">
                <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
                <h6>Marca</h6>

            </div> 
            <div class="col-lg-4">
                <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
                <h6>Marca</h6>

            </div>
            <div class="col-lg-4">
                <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
                <h6>Marca</h6>

              </div>
           </div>
        </div>
      </div>
    </div>
</section>
-->



<!-- /* seccion productos nuevos */
<section class="product">
   <div class="container">
     <div class="row">
        <div class="cont-lg-5 m-auto text-center">
          <h1>Productos Nuevos</h1>
          <h6 style="color: red;">Por Temporada de Trabajo</h6>

        </div>

     <div class="row">
        <div class="col-lg-3 text-center">
           <div class="card border-0 bg-light">
             <div class="card-body">
                <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
             </div>
           </div>
            <h6>Energy FOOD</h6>
            <p>$39.99</p>
            
        </div>
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
              <div class="card-body">
                 <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
              </div>
            </div>
             <h6>Energy FOOD</h6>
             <p>$39.99</p>
             
         </div>
         <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
              <div class="card-body">
                 <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
              </div>
            </div>
             <h6>Energy FOOD</h6>
             <p>$39.99</p>
             
         </div>
          <div class="row">
             <div class="col-lg-6 text-center m-auto">

            <button class="btn1">Mas</button>
             </div>

          </div>
     </div>    
     </div>
   </div>
</section>
-->


<!-- /* seccion productos mas vendidos */ 
<section class="about">
   <div class="container">
     <div class="row py-5">
       <div class="col-lg-8 m-auto text-center">
        <h1>aaaa</h1>
        <h6 style="color:red">bbb</h6>
       </div>
      </div>
       <div class="row">
         <div class="col-lg-4">
            <img style="width: 100%" src="../../../assets/imagenes/img2.jpg " class="img-fluid mb-3" alt="">
            <h5>Producto de Verano</h5>
            <p>Producto de verano mas vendidos por los clientes de la ropa Urbana</p>
         </div>
         <div class="col-lg-4">
            <img style="width: 100%" src="../../../assets/imagenes/img2.jpg" class="img-fluid mb-3" alt="">
            <h5>Producto de Verano</h5>
            <p>Producto de verano mas vendidos por los clientes de la ropa Urbana</p>
         </div>
         <div class="col-lg-4">
            <img style="width: 100%" src="../../../assets/imagenes/img2.jpg" class="img-fluid mb-3" alt="">
            <h5>Producto de Verano</h5>
            <p>Producto de verano mas vendidos por los clientes de la ropa Urbana</p>
         </div>

       </div>
       <div class="row btn-3">
        <div class="col-lg-6 text-center m-auto">
       <button class="btn1">Mas</button>
        </div>
        
     </div>
   </div>
</section>
-->


<!-- /* seccion de la tienda */ 
<section class="shop">
   <div class="container">
    <div class="row py-5">
      <div class="col-lg-8 m-auto text-center">
       <h1>Explore</h1>
       <h6 style="color:red">bbb</h6>
      </div>
     </div>
     <div class="row">
      <div class="col-lg-3 text-center">
         <div class="card border-0 bg-light">
           <div class="card-body">
              <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
           </div>
         </div>
          <h6>Energy FOOD</h6>
          <p>$39.99</p>
          
      </div>
      <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light">
            <div class="card-body">
               <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
            </div>
          </div>
           <h6>Energy FOOD</h6>
           <p>$39.99</p>
           
       </div>
       <div class="col-lg-3 text-center">
          <div class="card border-0 bg-light">
            <div class="card-body">
               <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
            </div>
          </div>
           <h6>Energy FOOD</h6>
           <p>$39.99</p>
           
       </div>
       <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light">
          <div class="card-body">
             <img src="../../../assets/imagenes/img2.jpg" class="img-fluid" alt="">
          </div>
        </div>
         <h6>Energy FOOD</h6>
         <p>$39.99</p>
         
     </div>
      </div>
  </div>
</section>
-->


<!-- /* seccion Imagen */ 
<section class="apple py-5">
  <div class="container text-white ">
    <div class="row py-3">
      <div class="col-lg-6">
        <h1 class="font-weight-bold">Proyecto E-Commerce</h1>
        <h6>Tenemos ropas de todo precio a su estilo</h6>
        <button class="btn1 mt-3">Catalogo-Producto</button>
      </div>
    </div>
  </div>
</section>
-->


<!-- /* seccion Contactos */ 
<section class="contact py-3">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-5 m-auto text-center">
        <h1>Contactanos</h1>
        <h6 style="color:red">bbb</h6>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-9 m-auto">
        <div class="row">
          <div class="col-lg-4">
            <h6>Localizacion</h6>
            <p>cuidadd</p>
          
            <h6>Celular</h6>
            <p></p>
          
            <h6>Email</h6>
            <p></p>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="Primer Nombre">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="Segundo Nombre">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 py-3">
                <textarea name="" class="form-control bg-light" placeholder="Enter your name" id="" cols="10" rows="5"></textarea>
              </div>
            </div>
            <button class="btn1">Submit</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>
-->


<!-- /* seccion final */ 
<section class="news py-3">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-9 m-auto text-center">
        <h1>Join</h1>
        <input type="text" class="px-3" placeholder="Ingresa tu email">
        <button class="btn2">Submit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3 py-3">
              <h5 class="pb-3">Atencion al cliente</h5>
              <p>Regular</p>
              <p>On Time</p>
              <p>Always</p>
          </div>
          <div class="col-lg-3 py-3">
            <h5 class="pb-3">Atencion al cliente</h5>
            <p>Regular</p>
            <p>On Time</p>
            <p>Always</p>
          </div>
          <div class="col-lg-3 py-3">
             <h5 class="pb-3">Atencion al cliente</h5>
             <p>Regular</p>
             <p>On Time</p>
             <p>Always</p>
          </div>
          <div class="col-lg-3 py-3">
            <h5 class="pb-3">Atencion al cliente</h5>
            <span><i class="fab fa-facebook"></i></span>
            <span><i class="fab fa-instagram"></i></span>
            <span><i class="fab fa-twitter"></i></span>
            <span><i class="fab fa-google-plus"></i></span>
        </div>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-center">2021</p>
  </div>
</section> 
-->


<!-- Navigation -->
<nav class="nav">
  <div class="wrapper container">
    <div class="logo"><a href="">
    <img src="../../../assets/imagenes/logo.png" alt="">
  </a>
  </div>
    <ul class="nav-list">
      <div class="top">
        <label for="" class="btn close-btn"
          ><i class="fas fa-times"></i
        ></label>
      </div>
      <li><a href="index.html">Home</a></li>
      <li><a href="products.html">Products</a></li>
      <li>
        <a href="" class="desktop-item"
          >Shop <span><i class="fas fa-chevron-down"></i></span
        ></a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item"
          >Shop <span><i class="fas fa-chevron-down"></i></span
        ></label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
            <img src="../../../assets/imagenes/nav.png" alt="" />
            </div>
            <div class="row">
              <header>Shop Layout</header>
              <ul class="mega-links">
                <li><a href="#">Shop With Background</a></li>
                <li><a href="#">Shop Mini Categories</a></li>
                <li><a href="#">Shop Only Categories</a></li>
                <li><a href="#">Shop Icon Categories</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Filter Layout</header>
              <ul class="mega-links">
                <li><a href="#">Sidebar</a></li>
                <li><a href="#">Filter Default</a></li>
                <li><a href="#">Filter Drawer</a></li>
                <li><a href="#">Filter Dropdown</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Product Layout</header>
              <ul class="mega-links">
                <li><a href="#">Layout Zoom</a></li>
                <li><a href="#">Layout Sticky</a></li>
                <li><a href="#">Layout Sticky 2</a></li>
                <li><a href="#">Layout Scroll</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a href="">Blog</a></li>
      <li>
        <a href="" class="desktop-item"
          >Vendors <span><i class="fas fa-chevron-down"></i></span
        ></a>
        <input type="checkbox" id="showdrop1" />
        <label for="showdrop1" class="mobile-item"
          >Vendors <span><i class="fas fa-chevron-down"></i></span
        ></label>
        <ul class="drop-menu1">
          <li><a href="">Vendor Store listings</a></li>
          <li><a href="">Store Details</a></li>
        </ul>
      </li>

      <li>
        <a href="" class="desktop-item"
          >Page <span><i class="fas fa-chevron-down"></i></span
        ></a>
        <input type="checkbox" id="showdrop2" />
        <label for="showdrop2" class="mobile-item"
          >Page <span><i class="fas fa-chevron-down"></i></span
        ></label>
        <ul class="drop-menu2">
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Faq</a></li>
          <li><a href="">Page 404</a></li>
        </ul>
      </li>
      <!-- icons -->
      <li class="icons">
        <a href="cart.html">
          <span>
            <img src="../../../assets/imagenes/shoppingBag.svg" alt="" />
            <small class="count d-flex">0</small>
          </span>
        </a>
        <span><img src="../../../assets/imagenes/search.svg" alt="" /></span>
      </li>
    </ul>
    <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<!-- Cart Items -->
<div class="container cart">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="../../../assets/imagenes/product-1.jpg" alt="" />
          <div>
            <p>Bambi Print Mini Backpack</p>
            <span>Price: $500.00</span>
            <br />
            <a href="#">remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="1" /></td>
      <td>$50.00</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="./images/product-2.jpg" alt="" />
          <div>
            <p>Bambi Print Mini Backpack</p>
            <span>Price: $900.00</span>
            <br />
            <a href="#">remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="1" /></td>
      <td>$90.00</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="./images/product-3.jpg" alt="" />
          <div>
            <p>Bambi Print Mini Backpack</p>
            <span>Price: $700.00</span>
            <br />
            <a href="#">remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="1" /></td>
      <td>$60.00</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="./images/product-4.jpg" alt="" />
          <div>
            <p>Bambi Print Mini Backpack</p>
            <span>Price: $600.00</span>
            <br />
            <a href="#">remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="1" /></td>
      <td>$60.00</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="./images/product-5.jpg" alt="" />
          <div>
            <p>Bambi Print Mini Backpack</p>
            <span>Price: $600.00</span>
            <br />
            <a href="#">remove</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1" min="1" /></td>
      <td>$60.00</td>
    </tr>
  </table>

  <div class="total-price">
    <table>
      <tr>
        <td>Subtotal</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>$250</td>
      </tr>
    </table>
    <a href="#" class="checkout btn">Proceed To Checkout</a>
  </div>
</div>

 <!-- Footer -->
<footer id="footer" class="section footer">
<div class="container">
  <div class="footer-container">
    <div class="footer-center">
      <h3>EXTRAS</h3>
      <a href="#">Brands</a>
      <a href="#">Gift Certificates</a>
      <a href="#">Affiliate</a>
      <a href="#">Specials</a>
      <a href="#">Site Map</a>
    </div>
    <div class="footer-center">
      <h3>INFORMATION</h3>
      <a href="#">About Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
      <a href="#">Site Map</a>
    </div>
    <div class="footer-center">
      <h3>MY ACCOUNT</h3>
      <a href="#">My Account</a>
      <a href="#">Order History</a>
      <a href="#">Wish List</a>
      <a href="#">Newsletter</a>
      <a href="#">Returns</a>
    </div>
    <div class="footer-center">
      <h3>CONTACT US</h3>
      <div>
        <span>
          <i class="fas fa-map-marker-alt"></i>
        </span>
        42 Dream House, Dreammy street, 7131 Dreamville, USA
      </div>
      <div>
        <span>
          <i class="far fa-envelope"></i>
        </span>
        company@gmail.com
      </div>
      <div>
        <span>
          <i class="fas fa-phone"></i>
        </span>
        456-456-4512
      </div>
      <div class="payment-methods">
        <img src="./images/payment.png" alt="">
      </div>
    </div>
  </div>
</div>
</footer>
<!-- End Footer -->